/* Table of content  
---------------------------------------------------
01. Body
02. Typogaphy
03. Header
04. Slider
05. Main
06. Sidebar
07. Footer
08. Shop
09. Utilities
10. Responsive
--------------------------------------------------- */

#header{
  background:#fff;
}

/* Footer Start */
.site-footer {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  letter-spacing: .2px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.07); 
}
.site-footer .copyrights {
    padding-top: 0px;
    color: #fff; 
}

/* Footer End */

/* Default Start */
* {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}
.menu a:hover{
  text-decoration: unset;
}
/* .container-fluid{
  padding-top:40px;
  padding-bottom:40px;
} */

#grad1 , body{
  background-color: #9C27B0;
  background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 30px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: skyblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left
}

input.form-check-input{
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 0px!important;
  width: auto!important;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
}
label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}
.btn-google {
  color: white;
  background-color: #ea4335
}

.btn-facebook {
  color: white;
  background-color: #3b5998
}
/* Default End */


* {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}
.container-fluid{
  padding-top:40px;
}

#grad1 , body{
  background-color: #9C27B0;
  background-image: linear-gradient(120deg, #FF4081, #81D4FA)
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: skyblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: #000000
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 20%;
  float: left;
  position: relative
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f023"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007"
}

#progressbar #skill:before {
  font-family: FontAwesome;
  content: "\f07b"
}

#progressbar #qua:before {
  font-family: FontAwesome;
  content: "\f0a3"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: skyblue
}

.radio-group {
  position: relative;
  margin-bottom: 25px
}

.radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
  width: 100%;
  object-fit: cover
}
input.form-check-input{
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 0px!important;
  width: auto!important;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
}
label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}



/* 01. Body 
--------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CPT+Serif:400,700';
/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  color: #8c8c8c;
  margin: 0;
  padding: 0; } */

a {
  color: #222222;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    color: #7c7c7c;
    text-decoration: none; }

/* 02. Typography 
--------------------------------------------------- */
body {
  font: 400 15px "Montserrat", sans-serif;
  line-height: 1.815;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #222222;
  letter-spacing: .1px;
  text-transform: unset;
  font-style: normal; }

/* 03. Header
--------------------------------------------------- */
.site-header {
  display: block;
  position: relative;
  z-index: 999; }
  .site-header.fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: none;
    width: 100%; }
    .site-header.fixed-header.uk-active {
      background-color: #fff; }
  .site-header.light:not(.uk-active) .site-logo > a,
  .site-header.light:not(.uk-active) .primary-menu .menu > li > a,
  .site-header.light:not(.uk-active) .secondary-menu > div > a,
  .site-header.light:not(.uk-active) .search .toggle,
  .site-header.light:not(.uk-active) .cart a {
    color: #fff; }
  .site-header.light:not(.uk-active) .mobile-menu .trigger div span {
    background-color: #fff; }
  .site-header.light:not(.uk-active) .mobile-menu .cart .count {
    background-color: #aaa;
    color: #fff; }
  .site-header.light:not(.uk-active) .search .uk-drop .uk-search-input {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .site-header.uk-active {
    background-color: #fff; }
    .site-header.uk-active .site-logo,
    .site-header.uk-active .primary-menu {
      line-height: 70px !important; }
  .site-header .site-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.59rem;
    font-weight: 600;
    letter-spacing: -.04rem;
    max-width: 200px;
    line-height: 100px;
    margin: 0; }
  .site-header .primary-menu {
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 2.5px;
    line-height: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .site-header .primary-menu .menu,
  .site-header .primary-menu .menu li {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative; }
  .site-header .primary-menu .menu > li + li {
    margin-left: 3rem; }
  .site-header .primary-menu .menu > li > a:not(:last-child):after {
    content: "\ea77";
    font-size: 10px;
    font-weight: 400;
    font-family: "Floicons";
    position: relative;
    margin-left: 5px;
    top: 1px; }
  .site-header .primary-menu .menu ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 20px 0;
    text-align: left;
    line-height: 1;
    list-style: none;
    background-color: #fff;
    z-index: 9999;
    border: 1px solid rgba(0, 0, 0, 0.07); }
  .site-header .primary-menu .menu > li:not(:last-child) > ul {
    display: none;
    top: 100%;
    left: 0; }
  .site-header .primary-menu .menu > li:not(:last-child):hover > ul {
    display: block; }
  .site-header .primary-menu .menu > li ul ul {
    visibility: hidden;
    top: -21px;
    left: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(-0.5rem, 0, 0);
    transform: translate3d(-0.5rem, 0, 0); }
  .site-header .primary-menu .menu > li > ul li {
    display: inline-block;
    position: relative;
    padding: 0; }
    .site-header .primary-menu .menu > li > ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      min-width: 220px;
      font-size: 11px;
      padding: .6rem 1rem;
      color: #8c8c8c;
      text-decoration: none;
      -webkit-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      .site-header .primary-menu .menu > li > ul li a:not(:last-child):after {
        content: "\ea76";
        font-size: 9px;
        font-weight: 400;
        font-family: "Floicons";
        position: relative;
        top: 2px; }
      .site-header .primary-menu .menu > li > ul li a:hover {
        padding-left: 20px; }
    .site-header .primary-menu .menu > li > ul li a:hover {
      color: #222222; }
    .site-header .primary-menu .menu > li > ul li:hover > ul {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .site-header .secondary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
    .site-header .secondary-menu > div {
      margin-left: 3rem; }
      .site-header .secondary-menu > div:first-child {
        margin: 0; }
    .site-header .secondary-menu .membership {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .site-header .secondary-menu .membership > a {
        margin-left: 3rem; }
        .site-header .secondary-menu .membership > a:first-child {
          margin: 0; }
  .site-header .search .toggle {
    font-size: 14px;
    position: relative;
    top: 2px;
    color: #8c8c8c; }
    .site-header .search .toggle:hover {
      color: #222222; }
  .site-header .search .uk-drop {
    padding-right: 1rem;
    width: 200px; }
    .site-header .search .uk-drop .uk-search-input {
      background-color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  .site-header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .site-header .mobile-menu .cart {
      display: block;
      position: relative; }
      .site-header .mobile-menu .cart .icon {
        font-size: 24px; }
      .site-header .mobile-menu .cart .count {
        display: block;
        width: 18px;
        height: 18px;
        font-size: 11px;
        background: #000;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: -5px;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
    .site-header .mobile-menu .trigger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 30px;
      margin-left: 2rem;
      cursor: pointer; }
      .site-header .mobile-menu .trigger div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .site-header .mobile-menu .trigger div span {
          width: 26px;
          display: block;
          height: 1px;
          background-color: #000;
          margin: 3px 0;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }

body:not(.front-page) .site-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  body:not(.front-page) .site-header .site-logo,
  body:not(.front-page) .site-header .primary-menu {
    line-height: 80px; }

#mobile-menu .inner {
  background-color: #fff;
  padding: 0; }
  #mobile-menu .inner .header {
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
    #mobile-menu .inner .header .site-logo {
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: -.02rem; }
      #mobile-menu .inner .header .site-logo a {
        color: #000; }
    #mobile-menu .inner .header .uk-offcanvas-close {
      color: #000;
      position: relative;
      top: auto;
      right: auto;
      padding: 0; }
  #mobile-menu .inner .content {
    padding: 2rem 0; }
    #mobile-menu .inner .content .mobile-nav {
      padding: 0;
      margin: 0; }
      #mobile-menu .inner .content .mobile-nav li {
        padding: 0 1rem; }
        #mobile-menu .inner .content .mobile-nav li a {
          text-transform: uppercase;
          letter-spacing: 1.2px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
        #mobile-menu .inner .content .mobile-nav li.uk-parent > a::after {
          content: "\ea71";
          font-family: "Floicons";
          font-size: 10px;
          font-weight: 400;
          position: relative;
          background: none !important;
          width: auto;
          height: auto;
          float: none; }
        #mobile-menu .inner .content .mobile-nav li.uk-parent.uk-open > a::after {
          content: "\ea77"; }
      #mobile-menu .inner .content .mobile-nav > li > a {
        font-size: 12px;
        color: #222; }
      #mobile-menu .inner .content .mobile-nav > li ul {
        padding: 0;
        margin: 0; }
        #mobile-menu .inner .content .mobile-nav > li ul > li > a {
          padding: 5px 0;
          font-size: 11px;
          color: #7c7c7c; }

/* 04. Slider
--------------------------------------------------- */
.site-slider {
  display: block;
  position: relative; }
  .site-slider .post {
    background-color: #fff; }
    .site-slider .post .entry-content {
      text-align: center;
      padding-top: 40px; }
      .site-slider .post .entry-content > * {
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out; }
      .site-slider .post .entry-content .entry-category,
      .site-slider .post .entry-content .entry-title {
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px); }
      .site-slider .post .entry-content .entry-meta {
        -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
        transform: translateY(40px); }
      .site-slider .post .entry-content .entry-divider {
        margin: 40px auto; }
  .site-slider.background-style .post .entry-thumb .cover-image {
    height: 80vh;
    padding: 0; }
  .site-slider.background-style .post .entry-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .site-slider.background-style .post .entry-inner .entry-content .entry-category a {
      color: #fff; }
    .site-slider.background-style .post .entry-inner .entry-content .entry-title {
      padding: 0 60px;
      font-size: 1.7rem; }
      .site-slider.background-style .post .entry-inner .entry-content .entry-title a {
        color: #fff; }
    .site-slider.background-style .post .entry-inner .entry-content .entry-meta {
      margin-top: 40px; }
      .site-slider.background-style .post .entry-inner .entry-content .entry-meta span {
        color: #fff; }
  .site-slider.background-style .post:hover .entry-inner {
    background-color: rgba(0, 0, 0, 0.6); }
  .site-slider.background-style .navigation button {
    color: #fff; }
  .site-slider.background-style .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 1; }
    .site-slider.background-style .owl-dots .owl-dot {
      background-color: rgba(255, 255, 255, 0.3); }
      .site-slider.background-style .owl-dots .owl-dot.active {
        background-color: #fff; }
  .site-slider.background-style.boxed-layout .post .entry-thumb .cover-image {
    height: 70vh; }
  .site-slider.background-style.grid-layout.two-cols .post .entry-thumb .cover-image {
    height: 80vh; }
  .site-slider.background-style.grid-layout.two-cols .post .entry-title {
    font-size: 2.2rem !important; }
  .site-slider.background-style.grid-layout.three-cols .post .entry-thumb .cover-image {
    height: 80vh; }
  .site-slider.background-style.grid-layout.three-cols .post .entry-title {
    font-size: 1.9rem !important; }
  .site-slider.background-style.grid-layout.four-cols .post .entry-thumb .cover-image {
    height: 70vh; }
  .site-slider.background-style.grid-layout.four-cols .post .entry-title {
    font-size: 1.7rem !important; }
  .site-slider .owl-item.active .entry-content > * {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .site-slider .navigation {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .site-slider .navigation button {
      display: block;
      background: none;
      border: 0;
      font-size: 11px;
      text-transform: capitalize;
      letter-spacing: 10px;
      position: absolute;
      top: 50%;
      -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
      transform: rotateZ(90deg);
      z-index: 9999;
      outline: 0;
      cursor: pointer; }
      .site-slider .navigation button.owl-next {
        right: 0; }

.site-trending {
  display: block;
  position: relative;
  margin-top: 100px; }
  .site-trending .post .entry-content {
    padding-top: 20px; }
    .site-trending .post .entry-content .entry-title {
      margin-top: 0; }
  .site-trending .owl-dots {
    margin-top: 20px; }

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
  counter-reset: dots; }
  .owl-dots .owl-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background-color: #ececec;
    border-radius: 100%;
    border: 0;
    outline: 0;
    cursor: pointer; }
    .owl-dots .owl-dot.active {
      background-color: #000; }
  .owl-dots.numbred .owl-dot {
    display: inline-block;
    margin: 0 5px;
    color: #acacac;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer; }
    .owl-dots.numbred .owl-dot.active {
      color: #000; }
    .owl-dots.numbred .owl-dot:before {
      counter-increment: dots;
      content: counter(dots); }

/* 05. Main
--------------------------------------------------- */
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  margin-bottom: 50px;
  text-align: left; }
  .heading.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .heading .title {
    font-size: 20pt;
    text-transform: capitalize;
    margin-bottom: 0;
    letter-spacing: 2.5px; }
  .heading .text {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
  .heading .more-link {
    font-family: "PT Serif", sans-serif;
    font-style: normal;
    border-bottom: 1px solid; }

.post .entry-thumb {
  display: block;
  position: relative; }
  .post .entry-thumb .link-overlay {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .post .entry-thumb:hover .link-overlay {
    opacity: 1; }

.post .entry-category {
  font-size: 11px;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  margin-bottom: 10px; }
  .post .entry-category a {
    color: #7c7c7c; }
    .post .entry-category a:hover {
      color: #222222; }

.post .entry-title {
  margin-top: 0; }

.post .entry-meta {
  font-size: 11px;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  margin-bottom: 20px; }
  .post .entry-meta > div > span {
    color: #8c8c8c; }
    .post .entry-meta > div > span:after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 2px;
      background-color: #ccc;
      border-radius: 100%;
      margin: 0 .5rem; }
    .post .entry-meta > div > span:last-child:after {
      display: none; }
    .post .entry-meta > div > span.meta-author span {
      color: #8c8c8c;
      margin-right: 5px; }
    .post .entry-meta > div > span.meta-author cite {
      color: #8c8c8c;
      font-style: normal; }
      .post .entry-meta > div > span.meta-author cite:hover {
        color: #222222; }

.post .entry-content .entry-divider {
  width: 50px;
  margin: 40px 0 20px; }

.post .entry-content .entry-snippet {
  font-family: "PT Serif", sans-serif;
  font-size: 14px;
  letter-spacing: .5px; }

.post .entry-content > *:last-child {
  margin-bottom: 0; }

.post .entry-body {
  font-family: "PT Serif", sans-serif, sans-serif;
  font-size: 1.1rem;
  line-height: 1.815;
  color: #505050; }
  .post .entry-body blockquote {
    font-family: "PT Serif", sans-serif;
    font-size: 1.3rem;
    line-height: 1.415;
    border-left: 2px solid rgba(0, 0, 0, 0.07);
    padding: 20px 40px;
    font-style: normal;
    font-style: italic;
    clear: both; }
  .post .entry-body .wp-caption {
    display: block;
    margin: 40px 0; }
    .post .entry-body .wp-caption .wp-caption-text {
      display: block;
      font-size: 13px;
      padding-top: 15px;
      color: #acacac;
      font-style: italic; }
    .post .entry-body .wp-caption.alignleft {
      width: 50%;
      float: left;
      margin-right: 40px;
      margin-top: 10px; }
    .post .entry-body .wp-caption.alignright {
      width: 50%;
      float: right;
      margin-left: 40px;
      margin-top: 10px; }
  .post .entry-body .aligncenter {
    text-align: center; }
  .post .entry-body .alignleft {
    text-align: left; }
  .post .entry-body .alignright {
    text-align: right; }

.post .entry-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .post .entry-footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post .entry-footer > div .entry-more {
      font-size: 11px;
      text-transform: capitalize;
      letter-spacing: 1.2px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
      .post .entry-footer > div .entry-more .icon {
        font-size: 12px;
        position: relative;
        top: 1px; }
    .post .entry-footer > div .entry-share.mini-share {
      font-size: 12px; }
      .post .entry-footer > div .entry-share.mini-share a {
        margin-left: .7rem; }
        .post .entry-footer > div .entry-share.mini-share a:first-child {
          margin-left: 0; }
    .post .entry-footer > div .entry-comments {
      margin-left: 2rem;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .5px; }
      .post .entry-footer > div .entry-comments i {
        margin-right: 5px; }
    .post .entry-footer > div .entry-tags {
      font-size: 12px; }
      .post .entry-footer > div .entry-tags a:not(:last-child)::after {
        content: ","; }

.site-primary {
  display: block;
  position: relative;
  padding-top: 100px; }
  .site-primary .site-main {
    display: block;
    position: relative;
    padding-bottom: 100px; }
  .site-primary .block-listing {
    display: block;
    position: relative;
    margin-top: 100px;
    overflow: hidden; }
    .site-primary .block-listing .block-layout .post .entry-content {
      text-align: left;
      padding-top: 20px; }
    .site-primary .block-listing .block-layout.classic-layout .post .entry-content {
      padding: 40px 0; }
      .site-primary .block-listing .block-layout.classic-layout .post .entry-content .entry-title {
        font-size: 2rem; }
      .site-primary .block-listing .block-layout.classic-layout .post .entry-content .entry-snippet {
        margin-top: 30px; }
        .site-primary .block-listing .block-layout.classic-layout .post .entry-content .entry-snippet p {
          margin: 0; }
      .site-primary .block-listing .block-layout.classic-layout .post .entry-content .entry-meta {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .site-primary .block-listing .block-layout.grid-layout.two-cols .post .entry-title {
      font-size: 1.5rem; }
    .site-primary .block-listing .block-layout.grid-layout.three-cols .post .entry-title {
      font-size: 1.3rem; }
    .site-primary .block-listing .block-layout.grid-layout.four-cols .post .entry-title {
      font-size: 1.1rem; }
    .site-primary .block-listing:first-child {
      margin-top: 0; }
  .site-primary.has-sidebar .heading .title {
    font-size: 1.4rem; }
  .site-primary.has-sidebar .block-listing .block-layout.grid-layout.two-cols .post .entry-title {
    font-size: 1.4rem; }
  .site-primary.has-sidebar .block-listing .block-layout.grid-layout.three-cols .post .entry-title {
    font-size: 1.1rem; }
  .site-primary.has-sidebar .block-listing .block-layout.grid-layout.four-cols .post .entry-title {
    font-size: 1rem; }
  .site-primary .pagination {
    margin-top: 100px; }
    .site-primary .pagination ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .site-primary .pagination ul li {
        padding: 0;
        margin: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 100%; }
        .site-primary .pagination ul li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .site-primary .pagination ul li a i {
            font-size: 18px; }
        .site-primary .pagination ul li > * {
          color: #8c8c8C; }
          .site-primary .pagination ul li > *:hover {
            color: #222222; }
        .site-primary .pagination ul li.uk-active > * {
          color: #000; }
    .site-primary .pagination > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .site-primary .pagination > div a {
        font-weight: 700; }

.post.single {
  position: relative;
  z-index: 1; }
  .post.single .entry-thumb {
    margin-bottom: 60px; }
  .post.single .entry-header {
    margin-bottom: 60px; }
    .post.single .entry-header .entry-title {
      font-weight: 700;
      margin: 30px 0 20px; }
    .post.single .entry-header .entry-meta {
      font-size: 13px;
      text-transform: capitalize;
      letter-spacing: .6px; }
    .post.single .entry-header .entry-share:not(.mini-share) {
      display: block;
      margin-top: 40px; }
      .post.single .entry-header .entry-share:not(.mini-share) a {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-color: #222222;
        color: #fff;
        margin: 0 1px;
        text-align: center;
        border-radius: 50%; }
        .post.single .entry-header .entry-share:not(.mini-share) a i {
          line-height: 40px; }
        .post.single .entry-header .entry-share:not(.mini-share) a.facebook {
          background-color: #4267b2; }
        .post.single .entry-header .entry-share:not(.mini-share) a.twitter {
          background-color: #1da1f2; }
        .post.single .entry-header .entry-share:not(.mini-share) a.gplus {
          background-color: #db4437; }
        .post.single .entry-header .entry-share:not(.mini-share) a:hover {
          opacity: .9; }
  .post.single .entry-footer {
    margin-top: 100px; }
    .post.single .entry-footer .entry-share.mini-share,
    .post.single .entry-footer .entry-tags {
      font-size: 14px; }

.related-posts {
  margin-top: 100px;
  position: relative;
  z-index: 1; }
  .related-posts .heading .title {
    font-size: 14pt !important; }
  .related-posts .entry-thumb {
    margin-bottom: 20px !important; }

.author-box {
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 60px;
  margin-top: 100px;
  position: relative;
  z-index: 1; }
  .author-box .author-avatar img {
    width: 80px;
    border-radius: 100%; }
  .author-box .author-info .author-name {
    font-size: 20px; }
    .author-box .author-info .author-name span {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 1.2px;
      margin-bottom: 5px;
      color: #8c8c8c;
      text-transform: uppercase;
      display: block; }
  .author-box .author-info p {
    font-size: 16px;
    font-family: "PT Serif", sans-serif;
    margin: 0; }

.comments-area {
  margin-top: 100px;
  padding-top: 100px;
  border-top: 1px dashed #eee;
  position: relative;
  z-index: 1; }
  .comments-area .comments-title h2 {
    font-size: 14pt;
    text-transform: uppercase;
    margin-bottom: 60px;
    letter-spacing: 2.5px; }
  .comments-area .comments-list {
    padding: 0;
    margin: 0;
    list-style: none; }
    .comments-area .comments-list > li {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px dashed #eee; }
      .comments-area .comments-list > li:first-child {
        margin: 0;
        padding: 0;
        border: 0; }
      .comments-area .comments-list > li .comment-avatar {
        border-radius: 100%; }
      .comments-area .comments-list > li .comment-name {
        display: block;
        font-size: 13pt;
        margin-bottom: 5px !important; }
      .comments-area .comments-list > li .comment-meta > li a {
        font-size: 9pt; }
      .comments-area .comments-list > li .comment-content {
        font-family: "PT Serif", sans-serif;
        color: #505050; }
  .comments-area .no-comments {
    margin-top: 60px;
    font-family: "PT Serif", sans-serif;
    color: #acacac;
    font-style: italic; }

.float-pagination .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 9999; }
  .float-pagination .inner a {
    position: fixed;
    top: 50%;
    margin-top: -100px;
    background-color: #fafafa;
    padding: 20px;
    max-width: 360px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .float-pagination .inner a:before {
      font-family: "Floicons";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .float-pagination .inner a.prev {
      left: 0;
      text-align: right;
      padding-right: 80px;
      -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
      transform: translateX(-300px); }
      .float-pagination .inner a.prev:before {
        content: "\ea71";
        right: 0; }
    .float-pagination .inner a.next {
      right: 0;
      padding-left: 80px;
      -webkit-transform: translateX(300px);
      -ms-transform: translateX(300px);
      transform: translateX(300px); }
      .float-pagination .inner a.next:before {
        content: "\ea76";
        left: 0; }
    .float-pagination .inner a span {
      font-size: 14px;
      letter-spacing: .2px;
      color: #acacac; }
    .float-pagination .inner a h5 {
      margin: 0;
      margin-top: 10px; }
    .float-pagination .inner a:hover {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      background-color: #f4f4f4; }

/* 06. Sidebar
--------------------------------------------------- */
.site-sidebar {
  display: block;
  position: relative;
  padding-bottom: 100px; }
  .site-sidebar.uk-sticky-fixed {
    z-index: 99; }
  .site-sidebar .widget {
    display: block;
    position: relative;
    background-color: #fafafa;
    padding: 2rem 1rem;
    margin-bottom: 40px;
    overflow: hidden; }
    .site-sidebar .widget:last-child {
      margin: 0; }
    .site-sidebar .widget > .title {
      font-family: "Montserrat", sans-serif;
      font-size: 11px;
      text-transform: capitalize;
      letter-spacing: 1.2px;
      text-align: center;
      padding: 20px 0;
      margin: 0; }
    .site-sidebar .widget .title {
      padding: 0;
      margin-bottom: 30px; }

.widget.newsletter {
  text-align: center; }
  .widget.newsletter p {
    margin: 0 0 10px; }
  .widget.newsletter input[type="email"] {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .widget.newsletter input[type="submit"] {
    width: 100%;
    display: block;
    margin: 10px 0; }
  .widget.newsletter button {
    width: 100%;
    display: block;
    margin: 10px 0; }
  .widget.newsletter .spamMsg {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #acacac; }

.widget.categories-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .widget.categories-list ul li a {
    font-size: 11px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .widget.categories-list ul li a span.count {
      color: #9c9c9c; }

.widget.post-listing .post.type-post {
  margin-top: 20px; }
  .widget.post-listing .post.type-post:first-child {
    margin: 0; }
  .widget.post-listing .post.type-post .entry-outer .entry-content {
    padding: 0; }
    .widget.post-listing .post.type-post .entry-outer .entry-content .entry-title {
      margin-top: 5px;
      margin-bottom: 10px; }
    .widget.post-listing .post.type-post .entry-outer .entry-content .entry-meta {
      font-size: 10px; }

.widget.post-listing.popular > div {
  counter-reset: popular; }

.widget.post-listing.popular .post.type-post {
  margin-top: 30px; }
  .widget.post-listing.popular .post.type-post:first-child {
    margin: 0; }
  .widget.post-listing.popular .post.type-post .entry-outer .entry-thumb {
    margin-bottom: 10px; }
    .widget.post-listing.popular .post.type-post .entry-outer .entry-thumb .cover-image {
      padding-top: 66.6666667%; }

.widget.instagram-feeds .thumbnail {
  position: relative; }
  .widget.instagram-feeds .thumbnail .cover-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .widget.instagram-feeds .thumbnail .cover-link span {
      line-height: 1;
      font-weight: 700;
      color: #fff; }
    .widget.instagram-feeds .thumbnail .cover-link:hover {
      opacity: 1;
      background-color: rgba(40, 40, 40, 0.125); }

.widget.stay-connected ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .widget.stay-connected ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%; }

.widget.widget_products ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }
  .widget.widget_products ul li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.08); }
    .widget.widget_products ul li:first-child {
      margin: 0;
      padding: 0;
      border: 0; }
    .widget.widget_products ul li img {
      width: 80px;
      float: left;
      clear: left;
      margin-right: 10px; }
    .widget.widget_products ul li .product-title {
      display: block;
      font-size: 14px; }
    .widget.widget_products ul li .amount {
      font-size: 11px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1px; }
    .widget.widget_products ul li del {
      margin-right: 5px;
      text-decoration: none;
      color: #8c8c8c; }
      .widget.widget_products ul li del span {
        text-decoration: line-through; }
    .widget.widget_products ul li ins {
      background-color: transparent;
      color: #000000; }

.widget.widget_shopping_cart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }
  .widget.widget_shopping_cart ul li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.08); }
    .widget.widget_shopping_cart ul li:first-child {
      margin: 0;
      padding: 0;
      border: 0; }
    .widget.widget_shopping_cart ul li img {
      width: 48px;
      float: left;
      clear: left;
      margin-right: 10px; }
    .widget.widget_shopping_cart ul li a {
      display: block;
      font-size: 14px; }
      .widget.widget_shopping_cart ul li a.remove {
        float: right;
        font-size: 20px !important;
        line-height: 1;
        color: #f0506e; }
    .widget.widget_shopping_cart ul li .quantity {
      display: block;
      font-size: 11px; }
    .widget.widget_shopping_cart ul li .amount {
      font-size: 11px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1px; }
    .widget.widget_shopping_cart ul li del {
      margin-right: 5px;
      text-decoration: none;
      color: #8c8c8c; }
      .widget.widget_shopping_cart ul li del span {
        text-decoration: line-through; }
    .widget.widget_shopping_cart ul li ins {
      background-color: transparent;
      color: #000000; }

.widget.widget_shopping_cart .total {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 10px;
  color: #000; }

.widget.widget_shopping_cart .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0; }
  .widget.widget_shopping_cart .buttons a {
    background-color: #222;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.2px;
    display: block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.2ss ease-in-out;
    -o-transition: all 0.2ss ease-in-out;
    transition: all 0.2ss ease-in-out; }
    .widget.widget_shopping_cart .buttons a:not(.checkout) {
      margin-bottom: 10px;
      background-color: #eee;
      color: inherit; }
      .widget.widget_shopping_cart .buttons a:not(.checkout):hover {
        background-color: #ddd;
        color: #000; }
    .widget.widget_shopping_cart .buttons a:hover {
      background-color: #000;
      color: #fff; }

/* 07. Footer
--------------------------------------------------- */

  .site-footer .inner .instagram-feeds {
    display: block;
    position: relative;
    overflow: hidden; }
    .site-footer .inner .instagram-feeds .title {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      margin-bottom: 40px;
      color: #8c8c8c; }
  .site-footer .inner .stay-connected {
    margin-top: 60px; }
    .site-footer .inner .stay-connected ul li a {
      font-size: 20px;
      width: 20px;
      height: 20px;
      margin: 0 1rem; }


/* 08. Shop
--------------------------------------------------- */
.woocommerce .page-heading {
  margin-bottom: 20px; }

.woocommerce .result-ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px; }
  .woocommerce .result-ordering .woocommerce-result-count {
    font-size: 13px;
    margin: 0 0 10px; }
  .woocommerce .result-ordering .woocommerce-ordering .orderby {
    display: block;
    background: transparent;
    color: #8c8c8c;
    max-width: 200px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 5px;
    border: 0;
    border-radius: 0 !important;
    outline: 0; }

.woocommerce .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 40px;
  list-style: none; }
  .woocommerce .products > * {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .woocommerce .products > * .woocommerce-LoopProduct-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-decoration: none;
      color: #222222;
      position: relative;
      overflow: hidden; }
      .woocommerce .products > * .woocommerce-LoopProduct-link .onsale {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff; }
      .woocommerce .products > * .woocommerce-LoopProduct-link img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .woocommerce .products > * .woocommerce-LoopProduct-link .woocommerce-loop-product__title {
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 15px; }
      .woocommerce .products > * .woocommerce-LoopProduct-link .price {
        font-size: 11px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1px; }
        .woocommerce .products > * .woocommerce-LoopProduct-link .price del {
          margin-right: 5px;
          text-decoration: none;
          color: #8c8c8c; }
          .woocommerce .products > * .woocommerce-LoopProduct-link .price del span {
            text-decoration: line-through; }
        .woocommerce .products > * .woocommerce-LoopProduct-link .price ins {
          background-color: transparent;
          color: #000000; }
    .woocommerce .products > * .add_to_cart_button {
      background: none;
      color: #222222;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0;
      margin-top: 20px;
      height: auto;
      border-radius: 0;
      line-height: 1;
      letter-spacing: 1px;
      visibility: hidden;
      opacity: 0; }
      .woocommerce .products > * .add_to_cart_button:hover {
        color: #7c7c7c; }
    .woocommerce .products > *:hover .add_to_cart_button {
      visibility: visible;
      opacity: 1; }

.woocommerce .woocommerce-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .woocommerce .woocommerce-pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .woocommerce .woocommerce-pagination ul li {
      margin: 0 10px; }
      .woocommerce .woocommerce-pagination ul li * {
        color: #8c8c8C; }
      .woocommerce .woocommerce-pagination ul li .current,
      .woocommerce .woocommerce-pagination ul li:hover * {
        color: #000; }

.woocommerce .woocommerce-cart-form {
  margin: 60px 0 0; }

.woocommerce table.shop_attributes,
.woocommerce table.shop_table {
  border: 0;
  margin: 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 0; }
  .woocommerce table.shop_attributes th,
  .woocommerce table.shop_table th {
    font-family: "Montserrat", sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .woocommerce table.shop_attributes tr,
  .woocommerce table.shop_table tr {
    border-top: 1px solid rgba(0, 0, 0, 0.07); }
  .woocommerce table.shop_attributes th,
  .woocommerce table.shop_attributes td,
  .woocommerce table.shop_table th,
  .woocommerce table.shop_table td {
    padding: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    vertical-align: middle;
    color: #212121; }
    .woocommerce table.shop_attributes th:last-child,
    .woocommerce table.shop_attributes td:last-child,
    .woocommerce table.shop_table th:last-child,
    .woocommerce table.shop_table td:last-child {
      border-right: 0; }
  .woocommerce table.shop_attributes .quantity label,
  .woocommerce table.shop_table .quantity label {
    display: none; }
  .woocommerce table.shop_attributes .quantity .qty,
  .woocommerce table.shop_table .quantity .qty {
    min-height: 44px;
    padding: 5px 15px;
    width: 4em;
    font-size: 15px;
    border-width: 1px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: none; }
  .woocommerce table.shop_attributes .product-remove,
  .woocommerce table.shop_table .product-remove {
    padding: 0; }
    .woocommerce table.shop_attributes .product-remove a,
    .woocommerce table.shop_table .product-remove a {
      display: block;
      font-size: 0;
      height: 26px;
      width: 26px;
      margin-left: auto;
      margin-right: auto;
      color: #8c8c8c; }
      .woocommerce table.shop_attributes .product-remove a:hover,
      .woocommerce table.shop_table .product-remove a:hover {
        color: #222222; }
      .woocommerce table.shop_attributes .product-remove a:before,
      .woocommerce table.shop_table .product-remove a:before {
        content: "\ea0d";
        font-family: 'Floicons' !important;
        font-size: 24px;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .woocommerce table.shop_attributes .product-thumbnail,
  .woocommerce table.shop_table .product-thumbnail {
    display: none;
    width: 70px; }
    .woocommerce table.shop_attributes .product-thumbnail img,
    .woocommerce table.shop_table .product-thumbnail img {
      max-width: 100%; }
  .woocommerce table.shop_attributes .actions,
  .woocommerce table.shop_table .actions {
    height: 40px;
    padding: 40px 0 0;
    border: 0; }
    .woocommerce table.shop_attributes .actions .coupon label,
    .woocommerce table.shop_table .actions .coupon label {
      display: none; }
    .woocommerce table.shop_attributes .actions .coupon .input-text,
    .woocommerce table.shop_table .actions .coupon .input-text {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      padding: 0 10px;
      width: 100%;
      height: 40px;
      font-size: 11px;
      letter-spacing: 1.2px;
      margin-right: 20px;
      outline: 0;
      line-height: 1;
      text-transform: uppercase; }
    .woocommerce table.shop_attributes .actions .button,
    .woocommerce table.shop_table .actions .button {
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 1.2px;
      padding: 0 25px;
      border: 0;
      border-radius: 40px;
      height: 40px;
      line-height: 44px;
      text-transform: uppercase;
      outline: 0;
      margin-top: 20px;
      width: 100%;
      text-align: center;
      cursor: pointer;
      background-color: #ececec;
      border-color: #ececec;
      color: #212121;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .woocommerce table.shop_attributes .actions .button:hover,
      .woocommerce table.shop_table .actions .button:hover {
        background-color: #fbfbfb;
        border-color: #fbfbfb; }
      .woocommerce table.shop_attributes .actions .button:focus,
      .woocommerce table.shop_table .actions .button:focus {
        background-color: #e7e7e7;
        border-color: #e7e7e7; }
      .woocommerce table.shop_attributes .actions .button:not(:disabled):hover,
      .woocommerce table.shop_table .actions .button:not(:disabled):hover {
        color: #7c7c7c; }
      .woocommerce table.shop_attributes .actions .button:disabled,
      .woocommerce table.shop_table .actions .button:disabled {
        background-color: #ececec;
        color: #acacac;
        cursor: not-allowed; }

.woocommerce .cart-collaterals {
  overflow: hidden;
  margin-top: 60px;
  clear: both; }
  .woocommerce .cart-collaterals .cart_totals {
    width: 100%; }
  .woocommerce .cart-collaterals .wc-proceed-to-checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 40px; }
    .woocommerce .cart-collaterals .wc-proceed-to-checkout .checkout-button {
      display: block;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 1.2px;
      padding: 0 35px;
      border: 0;
      border-radius: 50px;
      width: 100%;
      height: 50px;
      line-height: 54px;
      text-transform: uppercase;
      outline: 0;
      text-align: center;
      background-color: #212121;
      border-color: #212121;
      color: #ececec;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .woocommerce .cart-collaterals .wc-proceed-to-checkout .checkout-button:hover {
        background-color: #303030;
        border-color: #303030; }
      .woocommerce .cart-collaterals .wc-proceed-to-checkout .checkout-button:focus {
        background-color: #1c1c1c;
        border-color: #1c1c1c; }

.woocommerce .form-row-first,
.woocommerce .form-row-last {
  width: 100%;
  overflow: visible;
  margin-top: 0; }

.woocommerce .col2-set {
  display: block;
  overflow: hidden; }
  .woocommerce .col2-set .col-2 {
    margin-top: 55px; }

.woocommerce label {
  color: #000;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 5px;
  display: block; }

.woocommerce input[type="text"],
.woocommerce input[type="email"],
.woocommerce input[type="url"],
.woocommerce input[type="password"],
.woocommerce input[type="search"],
.woocommerce input[type="number"],
.woocommerce input[type="tel"],
.woocommerce input[type="range"],
.woocommerce input[type="date"],
.woocommerce input[type="month"],
.woocommerce input[type="week"],
.woocommerce input[type="time"],
.woocommerce input[type="datetime"],
.woocommerce input[type="datetime-local"],
.woocommerce input[type="color"],
.woocommerce select,
.woocommerce textarea {
  font-size: 12px;
  padding: 0 10px;
  height: 40px;
  color: #505050;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 0;
  width: 100%;
  outline: 0; }

.woocommerce textarea {
  height: auto;
  min-height: 120px;
  padding: 10px; }

.woocommerce label.checkbox:before,
.woocommerce input[type="checkbox"] + label:before,
.woocommerce label.radio:before,
.woocommerce input[type="radio"] + label:before {
  content: ""; }

.woocommerce label.checkbox,
.woocommerce input[type="checkbox"] + label,
.woocommerce form.contact-form label.checkbox,
.woocommerce form.contact-form input[type="checkbox"] + label,
.woocommerce label.radio,
.woocommerce input[type="radio"] + label,
.woocommerce form.contact-form label.radio,
.woocommerce form.contact-form input[type="radio"] + label {
  cursor: pointer;
  padding-left: 24px;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 9px;
  display: inline-block;
  margin-bottom: 20px; }

.woocommerce label.checkbox:before,
.woocommerce input[type="checkbox"] + label:before,
.woocommerce label.radio:before,
.woocommerce input[type="radio"] + label:before {
  border: 1px solid #505050;
  color: transparent;
  height: 12px;
  width: 12px;
  opacity: .2;
  text-align: center;
  position: absolute;
  left: 0;
  top: -2px; }

.woocommerce label.checkbox:before,
.woocommerce input[type="checkbox"] + label:before,
.woocommerce label.radio:before,
.woocommerce input[type="radio"] + label:before {
  border-color: #505050; }

.woocommerce .radio.checked:before,
.woocommerce input[type="radio"]:checked + label:before {
  background-color: #505050;
  border-color: #505050; }

.woocommerce .checkbox.checked:before,
.woocommerce input[type="checkbox"]:checked + label:before,
.woocommerce .checkbox.checked:hover:before,
.woocommerce input[type="checkbox"]:checked + label:hover:before,
.woocommerce .radio.checked:before,
.woocommerce input[type="radio"]:checked + label:before,
.woocommerce .radio.checked:hover:before,
.woocommerce input[type="radio"]:checked + label:hover:before {
  opacity: 1; }

.woocommerce .radio:before,
.woocommerce input[type="radio"] + label:before {
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }

.woocommerce abbr[title] {
  color: red;
  text-decoration: none; }

.woocommerce .woocommerce-checkout-review-order {
  display: block;
  border: 1px solid #ececec;
  padding: 20px; }

.woocommerce .woocommerce-checkout-payment {
  font-size: 13px;
  background-color: #fafafa;
  margin-top: 20px;
  padding: 20px; }
  .woocommerce .woocommerce-checkout-payment .form-row.place-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .woocommerce .woocommerce-checkout-payment #place_order {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #222;
    color: #fff;
    border: 0;
    cursor: pointer; }
  .woocommerce .woocommerce-checkout-payment input[type="radio"] + label {
    margin-bottom: 12px; }
  .woocommerce .woocommerce-checkout-payment ul.payment_methods {
    margin: 0 0 20px;
    padding: 0;
    list-style: none; }
    .woocommerce .woocommerce-checkout-payment ul.payment_methods li {
      line-height: 2;
      text-align: left;
      margin: 0;
      font-weight: 400; }
      .woocommerce .woocommerce-checkout-payment ul.payment_methods li [type=radio] {
        display: none; }
      .woocommerce .woocommerce-checkout-payment ul.payment_methods li p {
        line-height: 1.815;
        margin: 10px 0 15px; }

.woocommerce .woocommerce-form-coupon-toggle {
  display: block;
  margin-top: 20px; }

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  border: 0;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 22px 50px 20px;
  margin-bottom: 40px;
  line-height: 1; }

.woocommerce .woocommerce-error::before,
.woocommerce .woocommerce-info::before,
.woocommerce .woocommerce-message::before {
  font-family: 'Floicons';
  content: '\ea24';
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 19px;
  left: 1.2em;
  line-height: 1; }

.woocommerce .woocommerce-error::before {
  color: #f0506e; }

.woocommerce .woocommerce-info::before {
  color: #1e87f0; }

.woocommerce .woocommerce-message::before {
  color: #32d296; }

.woocommerce #customer_login h2 {
  margin-bottom: 40px; }

.woocommerce #customer_login .form-row:not(.woocommerce-form-row) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0 0; }

.woocommerce #customer_login .woocommerce-form__label {
  margin: 0;
  line-height: 1; }

.woocommerce #customer_login .woocommerce-Button {
  height: 48px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 48px;
  padding: 0 20px;
  text-transform: uppercase;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #222;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .woocommerce #customer_login .woocommerce-Button:hover {
    background-color: #444; }

.woocommerce-page .product .woocommerce-product-gallery__wrapper {
  width: 100%;
  margin-bottom: 40px; }
  .woocommerce-page .product .woocommerce-product-gallery__wrapper img {
    width: 100%; }

.woocommerce-page .product .summary .woocommerce-product-details__short-description {
  font-size: 15px;
  font-family: "PT Serif"; }

.woocommerce-page .product .summary .qty {
  width: 70px !important;
  float: left;
  margin-right: 10px; }

.woocommerce-page .product .summary .single_add_to_cart_button {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  background-color: #222;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer; }

.woocommerce-page .product .summary .product_meta {
  font-size: 12px;
  margin-top: 40px;
  display: block; }

.woocommerce-page .product .woocommerce-tabs {
  display: block;
  clear: both;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  margin-top: 60px;
  padding-top: 60px; }
  .woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 40px; }
    .woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li {
      margin-top: 10px; }
      .woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li:first-child {
        margin-top: 0; }
      .woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li a {
        color: #8c8c8c; }
      .woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li.active a, .woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li a:hover {
        color: #000; }

/* 09. Other
--------------------------------------------------- */
#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999; }
  #loader .loading,
  #loader .loading > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #loader .loading {
    display: block;
    font-size: 0;
    color: #222222;
    width: 40px;
    height: 40px; }
    #loader .loading > div {
      display: inline-block;
      float: none;
      border: 3px solid;
      width: 40px;
      height: 40px;
      background: transparent;
      border-bottom-color: transparent;
      border-radius: 100%;
      -webkit-animation: loading .75s linear infinite;
      -moz-animation: loading .75s linear infinite;
      -o-animation: loading .75s linear infinite;
      animation: loading .75s linear infinite; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.page-heading {
  display: block;
  margin-bottom: 100px; }
  .page-heading .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
    .page-heading .inner .title {
      text-transform: capitalize;
      margin: 0;
      line-height: 1; }
    .page-heading .inner .text {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px; }
    .page-heading .inner .uk-breadcrumb {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      margin: 20px 0 0;
      padding: 0; }
      .page-heading .inner .uk-breadcrumb a {
        font-size: 11px;
        color: #222222; }
  .page-heading.center .inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .page-heading.center .inner .uk-breadcrumb {
      margin-top: 20px; }

.site-about {
  margin-top: 100px; }
  .site-about .inner {
    background-color: #fafafa;
    padding: 100px 20px;
    text-align: center; }
    .site-about .inner span {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      color: #acacac; }
    .site-about .inner p {
      margin-top: 10px;
      font-family: "PT Serif", sans-serif;
      letter-spacing: .5px;
      color: #8c8c8c;
      max-width: 768px;
      margin: auto; }
    .site-about .inner .title {
      margin-top: 20px;
      text-transform: uppercase; }
    .site-about .inner .more {
      margin-top: 30px; }

.site-newsletter {
  display: block;
  position: relative;
  margin-bottom: 100px; }
  .site-newsletter .inner {
    background-color: #fafafa;
    padding: 40px; }
    .site-newsletter .inner h4 {
      margin: 0; }
    .site-newsletter .inner p {
      margin-top: 5px;
      font-family: "PT Serif", sans-serif;
      font-size: 14px;
      letter-spacing: .5px;
      color: #8c8c8c; }
    .site-newsletter .inner .form-container {
      display: block; }
      .site-newsletter .inner .form-container .form-group {
        display: block; }
        .site-newsletter .inner .form-container .form-group input {
          height: 50px;
          font-size: 11px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          margin-bottom: 20px;
          border-color: rgba(0, 0, 0, 0.05); }
          .site-newsletter .inner .form-container .form-group input:focus {
            border-color: rgba(0, 0, 0, 0.5); }
        .site-newsletter .inner .form-container .form-group input[type="submit"] {
          height: 50px;
          padding: 0 20px;
          width: 100%;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.5px; }

#error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  #error-page .title {
    font-size: 3rem;
    margin: 0;
    display: block; }
  #error-page .text {
    display: block;
    margin-top: 40px; }
  #error-page input {
    background-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    max-width: 400px;
    margin-top: 20px;
    text-align: center; }
  #error-page .msg {
    font-size: 13px; }

.screen-reader-text {
  display: none !important; }

/* 10. Utilities
--------------------------------------------------- */
.uk-container-no {
  max-width: none;
  padding: 0; }

.uk-button {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 0 20px; }

.cover-image {
  background-color: #ececec;
  display: block;
  padding-top: 66.6666667%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .cover-image.ratio-square {
    padding-top: 100%; }
  .cover-image.ratio-portrait {
    padding-top: 150%; }

.uk-text-lead {
  font-size: 1.2rem;
  color: #000; }

/* 11. Responsive
--------------------------------------------------- */
@media (min-width: 640px) {
  .woocommerce .result-ordering {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .woocommerce .result-ordering .woocommerce-result-count {
      margin: 0; }
  .woocommerce .products {
    margin-left: -30px; }
    .woocommerce .products.columns-2 > *,
    .woocommerce .products.columns-3 > *,
    .woocommerce .products.columns-4 > * {
      width: 50%;
      padding-left: 30px; }
  .woocommerce table.shop_attributes .actions .coupon,
  .woocommerce table.shop_table .actions .coupon {
    float: left; }
    .woocommerce table.shop_attributes .actions .coupon .input-text,
    .woocommerce table.shop_table .actions .coupon .input-text {
      width: auto;
      min-width: 220px; }
  .woocommerce table.shop_attributes .actions .button,
  .woocommerce table.shop_table .actions .button {
    margin: 0;
    width: auto;
    float: right; }
  .woocommerce .cart-collaterals .cart_totals {
    width: 48%;
    float: right; }
  .woocommerce .cart-collaterals .wc-proceed-to-checkout .checkout-button {
    display: inline-block;
    width: auto; } }

@media (max-width: 960px) {
  .col-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 0;
    list-style: none; }
    .col-grid > * {
      width: 50% !important;
      padding-left: 30px;
      margin: 0; } }

@media (min-width: 960px) {
  .site-slider.modern-layout .post .entry-content {
    padding: 0 14%; }
  .site-slider.modern-layout #slider-dots {
    display: none; }
  .site-slider.background-style .post .entry-inner .entry-content .entry-title {
    max-width: 960px;
    font-size: 2.7rem; }
  .page-heading .inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left; }
    .page-heading .inner .uk-breadcrumb {
      margin: 0; }
  .site-newsletter .inner .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .site-newsletter .inner .form-container .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .site-newsletter .inner .form-container .form-group input {
        margin-bottom: 0;
        margin-left: 40px; }
        .site-newsletter .inner .form-container .form-group input:first-child {
          margin-left: 0; }
      .site-newsletter .inner .form-container .form-group:first-child {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding-right: 40px; }
  .woocommerce .products {
    margin-left: -30px; }
    .woocommerce .products.columns-3 > *,
    .woocommerce .products.columns-4 > * {
      width: calc(100% * 1 / 3.001);
      padding-left: 30px; }
  .woocommerce table.shop_attributes .product-thumbnail,
  .woocommerce table.shop_table .product-thumbnail {
    display: table-cell; }
  .woocommerce table.shop_attributes .product-price,
  .woocommerce table.shop_attributes .product-quantity,
  .woocommerce table.shop_attributes .product-subtotal,
  .woocommerce table.shop_table .product-price,
  .woocommerce table.shop_table .product-quantity,
  .woocommerce table.shop_table .product-subtotal {
    width: 140px; }
  .woocommerce .form-row-first,
  .woocommerce .form-row-last {
    width: 47%;
    margin-top: 0; }
  .woocommerce .form-row-first {
    float: left; }
  .woocommerce .form-row-last {
    float: right; }
  .woocommerce .form-row-wide {
    clear: both; }
  .woocommerce .col2-set > div {
    width: 47%;
    float: left; }
    .woocommerce .col2-set > div.col-2 {
      float: right;
      margin-top: 0; }
  .woocommerce.woocommerce-page .product .woocommerce-product-gallery__wrapper {
    width: calc(50% - 30px);
    margin-left: 0;
    float: left;
    margin-bottom: 80px; }
  .woocommerce.woocommerce-page .product .summary {
    width: calc(50% - 30px);
    margin-right: 0;
    float: right; }
  .woocommerce.woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .woocommerce.woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li {
      margin-top: 0;
      margin-left: 40px; }
      .woocommerce.woocommerce-page .product .woocommerce-tabs .tabs.wc-tabs li:first-child {
        margin-left: 0; } }

@media (min-width: 1200px) {
  .site-primary:not(.has-sidebar) .post .entry-body .wp-caption.aligncenter {
    margin-left: -8.4em;
    margin-right: -8.4em; }
  .site-primary:not(.has-sidebar) .post .entry-body .wp-caption.alignleft {
    margin-left: -8.4em; }
  .site-primary:not(.has-sidebar) .post .entry-body .wp-caption.alignright {
    margin-right: -8.4em; }
  .woocommerce .products {
    margin-left: -30px; }
    .woocommerce .products.columns-4 > * {
      width: 25%;
      padding-left: 30px; } }

      /* Zaw Htet Naung */
      .form-card label{
        margin-left: 0px;
      }

      .form-card h3{
        margin-top: 0px;
      }

      .form-card .gender #male{
        width: 10px;
      }

      .form-card .gender  #female{
        width: 10px;
      }

      .form-card .gender #other{
        width: 10px;
      }
